<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    <!-- <h1>Welcome to static page</h1> -->
    <!-- <button class="btn btn-danger">hey</button> -->
    {{>navbar}}

    <!-- Main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img src="images/About.jpeg" alt="" class="img-fluid" title="Hem Upadhyay">
              </figure>
            </div>
            <!-- right side -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to the weather app!</p>
              <h1>I am a <span class="text_clr">Mern Developer</span> from uttarakhand</h1>
              <a href="/weather"><button>Still In progress</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
